<h1>PoC Chatbot</h1>
<hr>
<br>
<h3>Enter your request:</h3>

<br>
<br>
<br>


<ng-container *ngFor="let message of messages | async">

  <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                    'to':   message.sentBy === 'user' }">
    {{ message.content }}
  </div>

</ng-container>


<label for="nameField">Your Message</label>


<input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text"><br>

<button (click)="sendMessage()">Send</button>

